<a href="https://colab.research.google.com/github/Ian-Manalo/CPEN-21A-ECE-2-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [4]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##Break Statement
with the break statement, we can stop the loop before it has looped through all the items

In [5]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x) #already print before checking the if statement
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday": #it check first before printing
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

##Looping Through String

In [8]:
for x in "Programming Logic and Design":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

L
o
g
i
c

a
n
d

D
e
s
i
g
n

##The Range() Function

In [12]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [14]:
for x in range(2,6):
  print(x)

2
3
4
5

In [15]:
adjective=["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [17]:
i=1
while i<=6:
  print(i)
  i+=1 #Assignment Operator for addition

1
2
3
4
5
6

In [32]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

##The Break Statement in While Loop

In [20]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

##The Continue Statement

In [21]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

##The Else Statement

In [23]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [24]:
for x in range(11):
  print("Value",x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [27]:
i=0
while i<11:
  print("Value", i)
  if i==10:
    break
  i+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [28]:
value=["Value"]
number=["0","1","2","3","4","5","6","7","8","9","10"]
for x in value:
  for y in number:
    print(x,y)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [34]:
#less than 20, greater than 3

x=3
while x<20:
  x+=1
  if x==20:
    break
  print(x)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19